-if can? :create, Feat
  .pull-right
    %a{href: new_feat_path}
      %span.glyphicon.glyphicon-plus
      New Feat
%h1.title Feats

%table.compact
  %tr
    %th Feat
    %th Type
  - @feats.each do |feat|
    %tr
      %td= link_me feat
      %td= link_me feat.feat_type
