-if can? :create, Feat
  .pull-right
    %a{href: new_feat_path}
      %span.glyphicon.glyphicon-plus
%h1.title Feats

%table
  %tr
    %th Name
    %th Feat type

  - @feats.each do |feat|
    %tr
      %td
        %a{href: feat_path(feat)}
          = feat.name
      %td= feat.feat_type
   
