- if can? :create, Skill
  .pull-right
    %a{href: new_skill_path}
      %span.glyphicon.glyphicon-plus
      New Skill
%h1 Listing skills

%table.compact
  %tr
    %th Name
    %th Key Ability
    %th Trained Only
    %th Armor Check Penalty

  - @skills.each do |skill|
    %tr
      %td= link_me skill
      %td= skill.key_ability
      %td= skill.trained_only && 'Trained Only'
      %td= skill.armor_check_penalty && 'Armor Check Penalty'


