- if can? :manage, @skill
  .pull-right
    %a{href: edit_skill_path(@skill)}
      %span.glyphicon.glyphicon-pencil
      Edit

.pull-right
  %h2 Classes
  %ul
    - @skill.character_classes.each do |cc|
      %li= link_me cc

%h1 
  %a{href: skills_path}
    Skill: 
  #{@skill.name}
.skill
  :maruku
    #{@skill.desc}

