.pull-right
  %a{href: character_class_levels_path}
    %span.glyphicon.glyphicon-list
  -if can? :read, CharacterClassLevel
    %a{href: character_class_level_path}
      %span.glyphicon.glyphicon-file
  -if can? :create, CharacterClassLevel
    %a{href: new_character_class_level_path}
      %span.glyphicon.glyphicon-plus
  - if can? :destroy, @character_class_level
    %a{href: character_class_level_path(@character_class_level), data: {method: :delete, confirm: "Are you sure you want to delete #{@character_class_level}?"}}
      %span.glyphicon.glyphicon-trash
%h1.title Editing Character class level #{@character_class_level}
= render 'form'
