-if can? :create, CharacterClassLevel
  .pull-right
    %a{href: new_character_class_level_path}
      %span.glyphicon.glyphicon-plus
%h1.title Listing Character Class Levels

%table
  %tr
    %th Character
    %th Character class
    %th Class level
    %th
      -if can? :create, CharacterClassLevel
        %a{href: new_character_class_level_path}
          %span.glyphicon.glyphicon-plus

  - @character_class_levels.each do |character_class_level|
    %tr
      %td= character_class_level.character
      %td= character_class_level.character_class
      %td= character_class_level.class_level
      %td
        %a{href: character_class_level_path(character_class_level)}
          %span.glyphicon.glyphicon-file
        - if can? :edit, character_class_level
          %a{href: edit_character_class_level_path(character_class_level)}
            %span.glyphicon.glyphicon-pencil
        - if can? :destroy, character_class_level
          %a{href: character_class_level_path(character_class_level), data: {method: :delete, confirm: "Are you sure you want to delete #{character_class_level}?"}}
            %span.glyphicon.glyphicon-trash


