%h3 Home
- @users.each do |user|
  %p
    User: 
    = user.name
    #{link_to user.email, user}
%p 
  This is a test

:markdown 
  ### This is a h3 tag

  Now is time time for all good men to come to the aid of their party.

  Fred is cool. 

  * List ONe
  * Two 
  * Cats
