
-if can? :create, CharacterClass
  .pull-right
    %a{href: new_character_class_path}
      %span.glyphicon.glyphicon-plus
%h1.title Character Classes

.row
  .col-xs-4
    %h2 Base
    = render partial: 'index_table', object: @base
  .col-xs-4
    %h2 Prestige
    = render partial: 'index_table', object: @prestige
  .col-xs-4
    %h2 Npc
    = render partial: 'index_table', object: @npc

