// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.newchar, tr.newchar, td.newchar{
 border-style: solid;
}
table.showchard, th.showchard, td.showchard{
 height: 150px;
 width: 500px;
 text-align: center;
 background-color: #FFF;
}
th.showchard2{
 height: 25px;
 text-align: center;
 background-color: #DDD;
}

input.ability  {
  width: 3em;
}

