body {
  background-color: #FFF;
  color: #52B698;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

th.showchardesc{
 text-align: center;
}

table.home1, th.home1{
 color: #52B698;
 text-align: center;
 border-top-style: groove;
 border-left-style: groove;
 border-right-style: groove;
 border-bottom-style: none;
 font-size: 20px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 background-color: none;
}

th.home2{
 color: #52B698;
 text-align: center;
 border-top-style: none;
 border-left-style: groove;
 border-right-style: groove;
 border-bottom-style: none;
 font-size: 20px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 background-color: none;

}
th.home3{
 color: #52B698;
 text-align: center;
 border-top-style: none;
 border-left-style: groove;
 border-right-style: groove;
 border-bottom-style: groove;
 font-size: 20px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 background-color: none;

}


table, th, td{
 color: #52B698;
 border-style: solid;
 padding: 10px;
 background-color: #356B1B;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #52B698;
}

pre {
  background-color: #FFBA40;
  color: #000;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #12356E;
  &:visited {
    color: #85A3D4;
  }
  &:hover {
    color: #fff;
    background-color: #FFCB70;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
