// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skill {
  table {
    clear: right;
    float: right;
    margin: 10px;
    th {
      a {
        color: white;
      }
    }
    th, td {
      padding: 0 5px;
      text-align: left;
    }
    th {
      background: #666;
      color: #fff;
      border-color: #000;
    }
    tr:nth-child(even) td {
      background: #fff;
    }
    tr:nth-child(odd) td {
      background: #eee;
    }
  }


}
