%li
  %a{href: campaigns_path} Campaigns
%li
  %a{href: characters_path} Characters
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Docs
    %b.caret
  %ul.dropdown-menu
    %li
      %a{href: races_path} Races
    %li
      %a{href: sizes_path} Sizes
    %li
      %a{href: character_classes_path} Classes
    %li
      %a{href: feats_path} Feats
    %li
      %a{href: skills_path} Skills
//    %li
//      %a{href: spells_path} Spells
//    %li
//      %a{href: consumable_items_path} Consumable Items
